$icons: (
	  sprite: (width: 1934px, height: 1844px, pngPath: '../css/images/icons_sprite.png', svgPath: '../css/images/icons_sprite.svg'),
 	Element_1: (width: 156.6px, height: 44.25px, backgroundX: 0px, backgroundY: 0px),
 	arrow__down__white: (width: 17.41px, height: 24.409999999999997px, backgroundX: -167px, backgroundY: -55px),
 	arrow__right__white: (width: 24.409999999999997px, height: 17.41px, backgroundX: -195px, backgroundY: -90px),
 	badge__white: (width: 226.92px, height: 68.91px, backgroundX: -230px, backgroundY: -118px),
 	checkmark: (width: 25.4px, height: 21.02px, backgroundX: -467px, backgroundY: -197px),
 	checkmark__solid: (width: 40px, height: 40px, backgroundX: -503px, backgroundY: -229px),
 	checkmark__white: (width: 19.74px, height: 15.39px, backgroundX: -553px, backgroundY: -279px),
 	company: (width: 110px, height: 110.9px, backgroundX: -583px, backgroundY: -305px),
 	company__bulb: (width: 112.5px, height: 145.57px, backgroundX: -703px, backgroundY: -426px),
 	company_bulb: (width: 110px, height: 159.68px, backgroundX: -826px, backgroundY: -582px),
 	document__white: (width: 76px, height: 105px, backgroundX: -946px, backgroundY: -752px),
 	info__white: (width: 26px, height: 26px, backgroundX: -1032px, backgroundY: -867px),
 	license: (width: 76px, height: 113px, backgroundX: -1068px, backgroundY: -903px),
 	logo: (width: 149.21px, height: 44.24px, backgroundX: -1154px, backgroundY: -1026px),
 	minus__circled: (width: 28px, height: 28px, backgroundX: -1314px, backgroundY: -1081px),
 	permalink: (width: 26px, height: 26px, backgroundX: -1352px, backgroundY: -1119px),
 	person__business: (width: 65.35px, height: 79.25px, backgroundX: -1388px, backgroundY: -1155px),
 	person__business__principal: (width: 65.35px, height: 101.98px, backgroundX: -1464px, backgroundY: -1245px),
 	person__business__principal__small: (width: 49.39px, height: 77.08px, backgroundX: -1540px, backgroundY: -1357px),
 	person__business__principal__white: (width: 64px, height: 100.02px, backgroundX: -1600px, backgroundY: -1445px),
 	person__business__principal__white__small: (width: 49.39px, height: 77.01px, backgroundX: -1674px, backgroundY: -1556px),
 	person__private: (width: 65.35px, height: 79.25px, backgroundX: -1734px, backgroundY: -1644px),
 	plus__circled: (width: 28px, height: 28px, backgroundX: -1810px, backgroundY: -1734px),
 	screen__code: (width: 76px, height: 61.459999999999994px, backgroundX: -1848px, backgroundY: -1772px),
);
